body {
  margin: 0;
  padding: 0;
  font-size: 12pt; }

strong {
  color: #19b5fe; }

@media all and (min-width: 580px) {
  #room .content {
    position: relative; }
    #room .content .side {
      float: left;
      width: 260px;
      overflow: hidden; }
    #room .content #whiteboard {
      position: absolute;
      top: 0;
      left: 260px; } }
.footer {
  background-color: #19b5fe;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white; }

#room .document {
  position: relative;
  background-color: #85bdf5;
  border-right: 1px solid #b3b3b3; }
  #room .document ul li {
    cursor: pointer; }
  #room .document .container {
    padding: 40px 0 0 10px; }
    #room .document .container .folder_up {
      background-color: #fff;
      padding: 4px 16px; }
    #room .document .container .file-upload {
      margin: 10px 0; }
    #room .document .container input[name='userfile'] {
      width: 100%; }
#room .books {
  color: #fff;
  background-color: #69a3dc; }

#entrance {
  color: black; }
  #entrance header {
    background-color: #19b5fe;
    padding: 1em;
    font-weight: bold; }
    #entrance header .logo {
      color: white; }
  #entrance .content {
    padding: 1em; }
    #entrance .content form input {
      padding: .6em;
      box-sizing: border-box;
      width: 80%; }
  #entrance footer {
    background-color: #19b5fe;
    padding: 1em; }

#lobby {
  display: none;
  font-size: 11pt; }
  #lobby .display {
    padding: .6rem;
    overflow: hidden;
    overflow-y: scroll;
    min-height: 4em;
    max-height: 10em;
    background-color: #efefef;
    font-size: .9em; }
  #lobby header {
    background-color: #19b5fe;
    padding: 1em;
    font-weight: bold; }
    #lobby header .logo {
      color: white; }
  #lobby .my-name {
    font-style: italic;
    color: #19b5fe; }
  #lobby .room-list {
    padding: 1rem;
    background-color: #f4f4f4; }
    #lobby .room-list .roomname {
      display: block;
      color: #19b5fe;
      cursor: pointer;
      font-size: 1.4em; }
    #lobby .room-list .users .name {
      display: inline-block;
      padding: .4em .8em .4em 0;
      cursor: pointer; }

#room {
  background-color: #708090;
  display: none; }
  #room header {
    background-color: #19b5fe;
    padding: .6em;
    overflow: auto; }
    #room header .logo {
      float: left;
      color: white; }
    #room header .roomname {
      float: left; }
    #room header .buttons {
      float: right; }
  #room .roomname {
    color: white; }

#room .users[layout="Tile"].show {
  display: inline-block;
  min-width: 260px;
  background-color: #708090;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 260px; }
#room .users[layout="Tile"].hide {
  display: inline-block;
  min-width: 260px;
  background-color: #708090;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 260px; }
#room .users[layout="Tile"] .user {
  float: left;
  width: 50%;
  overflow: hidden; }
  #room .users[layout="Tile"] .user img {
    display: block;
    width: 100%; }
@media all and (min-width: 580px) {
  #room .users[layout="Tile"].hide {
    position: absolute;
    left: 260px;
    max-width: 520px;
    max-height: 520px; }
    #room .users[layout="Tile"].hide .user {
      float: left;
      width: 50%;
      overflow: hidden; }
      #room .users[layout="Tile"].hide .user img {
        display: block;
        width: 100%; } }

#room .users[layout="List"].show {
  display: inline-block;
  min-width: 260px;
  background-color: #708090;
  overflow: hidden;
  overflow-y: auto;
  max-height: 520px; }
#room .users[layout="List"].hide {
  display: inline-block;
  min-width: 260px;
  background-color: #708090;
  overflow: hidden;
  overflow-y: auto;
  max-height: 520px; }
#room .users[layout="List"] .user {
  float: left;
  width: 100%;
  overflow: hidden; }
  #room .users[layout="List"] .user img {
    display: block;
    width: 100%; }
@media all and (min-width: 580px) {
  #room .users[layout="List"].hide {
    position: absolute;
    left: 260px;
    max-width: 520px;
    max-height: 520px; }
    #room .users[layout="List"].hide .user {
      float: left;
      width: 100%;
      overflow: hidden; }
      #room .users[layout="List"].hide .user img {
        display: block;
        width: 100%; }
  #room .users[layout="List"].show {
    max-height: 260px; } }

#room .users[layout="Overlap"].show {
  display: inline-block;
  min-width: 260px;
  background-color: #708090;
  overflow: hidden;
  overflow-y: auto;
  max-height: 520px; }
#room .users[layout="Overlap"].hide {
  display: inline-block;
  min-width: 260px;
  background-color: #708090;
  overflow: hidden;
  overflow-y: auto;
  max-height: 520px; }
#room .users[layout="Overlap"] .user {
  float: left;
  width: 25%;
  overflow: hidden; }
  #room .users[layout="Overlap"] .user img {
    display: block;
    width: 100%; }
  #room .users[layout="Overlap"] .user.main {
    float: left;
    width: 100%;
    overflow: hidden; }
    #room .users[layout="Overlap"] .user.main img {
      display: block;
      width: 100%; }
@media all and (min-width: 580px) {
  #room .users[layout="Overlap"].hide {
    position: absolute;
    left: 260px;
    max-width: 520px;
    max-height: 620px; }
    #room .users[layout="Overlap"].hide .user.main {
      float: left;
      width: 100%;
      overflow: hidden; }
      #room .users[layout="Overlap"].hide .user.main img {
        display: block;
        width: 100%; }
  #room .users[layout="Overlap"].show {
    max-height: 520px; }
    #room .users[layout="Overlap"].show .user.main {
      float: left;
      width: 100%;
      overflow: hidden; }
      #room .users[layout="Overlap"].show .user.main img {
        display: block;
        width: 100%; } }

#room .chat input {
  box-sizing: border-box;
  padding: .4em;
  width: 100%; }
#room .chat .display {
  padding: .6rem;
  overflow: hidden;
  overflow-y: scroll;
  min-height: 4em;
  max-height: 10em;
  background-color: #efefef;
  font-size: .9em; }

#whiteboard.show {
  display: block !important; }
#whiteboard.hide {
  display: none !important; }
#whiteboard .container {
  position: relative;
  width: 340px;
  height: 400px;
  background-color: green;
  overflow: hidden; }
  #whiteboard .container.medium {
    width: 480px;
    height: 600px; }
  #whiteboard .container.large {
    width: 600px;
    height: 720px; }
#whiteboard .book {
  text-align: center; }
#whiteboard canvas {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  border: 2px solid black; }

#lobby .private-chat-container {
  position: absolute;
  bottom: 0;
  right: 0; }
  #lobby .private-chat-container .private-chat-divide {
    position: relative;
    bottom: -89%;
    right: 0;
    float: right;
    z-index: 100; }
    #lobby .private-chat-container .private-chat-divide .private-chat {
      color: #9a9a9a;
      font: 100%/1.5em "Droid Sans", sans-serif;
      font-size: 12px;
      z-index: 1;
      bottom: 0;
      width: 300px; }
      #lobby .private-chat-container .private-chat-divide .private-chat .chat {
        background: #fff; }
        #lobby .private-chat-container .private-chat-divide .private-chat .chat form {
          padding: 24px; }
      #lobby .private-chat-container .private-chat-divide .private-chat .chat-history {
        height: 252px;
        padding: 8px 24px;
        overflow-y: scroll; }
      #lobby .private-chat-container .private-chat-divide .private-chat .chat-message {
        margin: 16px 0; }
      #lobby .private-chat-container .private-chat-divide .private-chat .chat-message img {
        border-radius: 50%;
        float: left;
        display: block;
        height: auto;
        max-width: 100%; }
      #lobby .private-chat-container .private-chat-divide .private-chat .chat-message-content {
        margin-left: 56px; }
      #lobby .private-chat-container .private-chat-divide .private-chat .chat-time {
        float: right;
        font-size: 10px; }
      #lobby .private-chat-container .private-chat-divide .private-chat hr {
        background: #e9e9e9;
        border: 0;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        height: 1px;
        margin: 0;
        min-height: 1px; }
      #lobby .private-chat-container .private-chat-divide .private-chat h4:before {
        background: #1af136;
        border-radius: 50%;
        content: "";
        display: inline-block;
        height: 8px;
        margin: 0 8px 0 0;
        width: 8px; }
      #lobby .private-chat-container .private-chat-divide .private-chat h4 {
        font-size: 12px;
        line-height: 1.5em;
        margin: 0; }
      #lobby .private-chat-container .private-chat-divide .private-chat h5 {
        font-size: 10px;
        line-height: 1.5em;
        margin: 0; }
      #lobby .private-chat-container .private-chat-divide .private-chat input[type="text"] {
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 8px;
        outline: none;
        width: 234px; }
      #lobby .private-chat-container .private-chat-divide .private-chat fieldset {
        border: 0;
        margin: 0;
        padding: 0; }
      #lobby .private-chat-container .private-chat-divide .private-chat header {
        background-color: #0a9ce0;
        border-radius: 5px 5px 0 0;
        color: #fff;
        cursor: pointer;
        padding: 16px 24px; }
        #lobby .private-chat-container .private-chat-divide .private-chat header .chat-close {
          background: #105592;
          border-radius: 50%;
          color: #fff;
          display: block;
          float: right;
          font-size: 10px;
          height: 16px;
          line-height: 16px;
          margin: 2px 0 0 0;
          text-align: center;
          width: 16px; }
        #lobby .private-chat-container .private-chat-divide .private-chat header a {
          text-decoration: none; }

/*# sourceMappingURL=index.css.map */
