body {
  margin: 0;
  padding: 0;
  font-size: 12pt; }

strong {
  color: #19b5fe; }

@media all and (min-width: 580px) {
  #room .content {
    position: relative; }
    #room .content .side {
      float: left;
      width: 260px;
      overflow: hidden; }
    #room .content #whiteboard {
      position: absolute;
      top: 0;
      left: 260px; } }
.footer {
  background-color: #19b5fe;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white; }

#room .document {
  position: relative;
  background-color: #85bdf5;
  border-right: 1px solid #b3b3b3; }
  #room .document ul li {
    cursor: pointer; }
  #room .document .container {
    padding: 40px 0 0 10px; }
    #room .document .container .folder_up {
      background-color: #fff;
      padding: 4px 16px; }
    #room .document .container .file-upload {
      margin: 10px 0; }
    #room .document .container input[name='userfile'] {
      width: 100%; }
#room .books {
  color: #fff;
  background-color: #69a3dc; }

#entrance {
  color: black; }
  #entrance header {
    background-color: #19b5fe;
    padding: 1em;
    font-weight: bold; }
    #entrance header .logo {
      color: white; }
  #entrance .content {
    padding: 1em; }
    #entrance .content form input {
      padding: .6em;
      box-sizing: border-box;
      width: 80%; }
  #entrance footer {
    background-color: #19b5fe;
    padding: 1em; }

#lobby {
  display: none;
  font-size: 11pt; }
  #lobby header {
    background-color: #19b5fe;
    padding: 1em;
    font-weight: bold; }
    #lobby header .logo {
      color: white; }
  #lobby .my-name {
    font-style: italic;
    color: #19b5fe; }
  #lobby .room-list {
    padding: 1rem;
    background-color: #f4f4f4; }
    #lobby .room-list .roomname {
      display: block;
      color: #19b5fe;
      cursor: pointer;
      font-size: 1.4em; }
    #lobby .room-list .users .name {
      display: inline-block;
      padding: .4em .8em .4em 0; }

#room {
  background-color: #708090;
  display: none;
  /*
  .user-list {
    background-color: $color_darkblue;
   .name {
      display: block;
      padding: .4em .8em .4em .8em;
      cursor: pointer;
      font-size: 1.2em;
      color:white; 
    }
  }
  */ }
  #room header {
    background-color: #19b5fe;
    padding: .6em;
    overflow: auto; }
    #room header .logo {
      float: left;
      color: white; }
    #room header .roomname {
      float: left; }
    #room header .buttons {
      float: right; }
  #room .roomname {
    color: white; }

@media all and (min-width: 580px) {
  #room .users.hide {
    position: absolute;
    left: 260px;
    float: left;
    width: 260px; }
    #room .users.hide .user {
      width: 130px;
      height: 130px; }
  #room .users.show .user {
    width: 130px;
    height: 130px; } }
@media all and (min-width: 780px) {
  #room .users.hide {
    position: absolute;
    left: 260px;
    float: left;
    width: 520px; }
    #room .users.hide .user {
      width: 260px;
      height: 260px; }
  #room .users.show .user {
    width: 130px;
    height: 130px; } }
#room .users .user {
  float: left;
  width: 50%;
  height: 50vw;
  overflow: hidden; }
  #room .users .user img {
    display: block;
    width: 100%; }

#room .chat input {
  box-sizing: border-box;
  padding: .4em;
  width: 100%; }
#room .chat .display {
  padding: .6rem;
  overflow: hidden;
  overflow-y: scroll;
  min-height: 4em;
  max-height: 10em;
  background-color: #efefef;
  font-size: .9em; }
  #room .chat .display i {
    text-decoration: underline; }
  #room .chat .display span {
    padding-left: 1em; }

#whiteboard.show {
  display: block !important; }
#whiteboard.hide {
  display: none !important; }
#whiteboard .container {
  position: relative;
  width: 340px;
  height: 400px;
  background-color: green;
  overflow: hidden; }
  #whiteboard .container.medium {
    width: 480px;
    height: 600px; }
  #whiteboard .container.large {
    width: 600px;
    height: 720px; }
#whiteboard .book {
  text-align: center; }
#whiteboard canvas {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  border: 2px solid black; }

/*# sourceMappingURL=index.css.map */
