.navbar{
    background-color: #19b5fe;  
    color: white;        
}
.display {
        overflow: hidden;
        overflow-y: scroll;
        height: 100px;
        background-color: #efefef;        
}