#lobby {
  display:none;
  font-size: 11pt;

  .my-name {
    font-style: italic;
    color: blue;
  }
}


.room-list {
  padding: 1rem;
  background-color: $background;
  .roomname {
    display: block;
    color: #19b5fe; 
    cursor: pointer;
    font-size: 1.4em;
  }
  .users {
    .name {
      display: inline-block;
      padding: .4em .8em .4em 0;
    }
  }
}
