
.footer {
    background-color: $color_blue;
    position:fixed;
    bottom: 0;
    width: 100%;
    color: white;   
}
.background-effect {
    &[mode="show"] {
        background-color: rgba(6, 34, 62, 0.53);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 999;
    }
}