#room {
    .document {
        position: relative;
        background-color: #85bdf5;
        border-right: 1px solid #b3b3b3;
        ul li {
            cursor: pointer;
        }
         .container {
            padding: 40px 0 0 10px;
            .folder_up {
                background-color: #fff;
                padding: 4px 16px;
            }
            .file-upload {
                margin: 10px 0;
            }
            input[name='userfile'] {
                width: 100%;
            }
        }
    }

    .books {
        color: #fff;
        background-color: #69a3dc;
    }
}
