#room {
    .document {
        position: relative;
        height: 331px;
        background-color: #1abc9c;
        border-right: 1px solid #b3b3b3;
        ul li {
            cursor: pointer;
        }
         .container {
            padding: 40px 0 0 10px;
            .folder_up {
                background-color: #fff;
                padding: 4px 16px;
            }
            .file-upload {
                margin: 10px 0;
            }
            input[name='userfile'] {
                width: 100%;
            }
        }
    }
    .books {
        position: absolute;
        display: inherit;
        width: 100%;
        color: #fff;
        background-color: #16a085;
    }
   
    .document-content {
        height: 191px;
        padding-top: 10px;
        border-top: 1px solid #16a085;
        overflow: hidden;
        overflow-y: scroll;
    }
}
