$background: #f4f4f4;
#room {
  header {
    background-color: grey;
  }
  display:none;
  .roomname{
    color: blue;
  }
}
.user-list {
  background-color: $background;
   .name {
      display: block;
      padding: .4em .8em .4em .8em;
      cursor: pointer;
      font-size: 1.2em;
      color:#19b5fe; 
    }
}


main .whiteboard {
  width: 20em;
}