$background: #f4f4f4;

#room {  
  background-color:$color_gray;
  display:none;
  header {
    background-color: $header_background_color;
    padding: .6em;
    overflow:auto;
    .logo {
      float: left;
      color:white;
    }
    .roomname {
      float: left;
    }
    .buttons {
      float: right;
    }

  }
  .roomname{
    color: white;
  }
  /*
  .user-list {
    background-color: $color_darkblue;
   .name {
      display: block;
      padding: .4em .8em .4em .8em;
      cursor: pointer;
      font-size: 1.2em;
      color:white; 
    }
  }
  */
}


#room .users {
  &.show {  
    display: inline-block;
    min-width:260px;
    background-color: $color_gray;   
    overflow: hidden;
    overflow-y:auto;
    max-height: 260px;  
  }
  &.hide {  
    display: inline-block;
    min-width:260px;   
    background-color: $color_gray;  
    overflow: hidden;
    overflow-y: scroll;
    
    max-height: 260px;    
  }  
  .user {
    float: left;
    width: 50%;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
    }    
  }
  @media all and ( min-width: $break_point_medium ) {
      &.hide {
        position:absolute;
        left:$break_point_left;
        max-width:520px;
        max-height: 520px; 
         .user {
            float: left;
            width: 50%;
            overflow: hidden;
            img {
              display: block;
              width: 100%;
            }    
          }
        
        
      }
      &.show {     
        
        .user {
          width: ($break_point_left / 2)-10px;
          height: $break_point_left / 2;
        }
      }      
  }
}

#room .chat {
  input {
    box-sizing: border-box;
    padding: .4em;
    width: 100%;
  }
  // @todo Do it with @mixin
  // @todo move it into proper place
  .display {
      padding: .6rem;
      overflow: hidden;
      overflow-y: scroll;
      min-height: 4em;
      max-height: 10em;
      background-color: #efefef;        
      font-size: .9em;
      i {
        text-decoration: underline;
      }
      span {
        padding-left: 1em;
      }
  }

}