$background: #f4f4f4;
#room {
  display:none;
  .roomname{
    color:#19b5fe; 
  }
}
.user-list {
  background-color: $background;
   .name {
      display: block;
      padding: .4em .8em .4em .8em;
      cursor: pointer;
      font-size: 1.2em;
      color:#19b5fe; 
    }

}