$background-color: #f4f4f4;
$header-background-color: #19b5fe;
$footer-background-color: $header-background-color;
$strong_color: #19b5fe;
$color_blue:#19b5fe;
$color_darkblue:#2f86c1;
$color_gray:#708090;
$color_orange:#d58512;
