$background-color: #f4f4f4;
$header-background-color: #19b5fe;
$footer-background-color: $header-background-color;
$strong_color: #19b5fe;
$color_blue:#19b5fe;
$color_darkblue:#2f86c1;
$color_gray:#708090;
$color_orange:#d58512;
$break_point_medium: 580px;
$break_point_large: 780px;
$break_point_left: 260px;
