#room .whiteboard {
    .container {
        position: relative;
        width: 340px;
        height: 400px;
        overflow: hidden;
    }
    .book {
        width: 100%;
    }
    canvas {
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}