#whiteboard {
    &.show {
        display: block!important;
    }
    &.hide {
        display: none!important;
    }
    .container {
        position: relative;
        width: 340px;
        height: 400px;
        background-color: #6B93EF;
        overflow: hidden;
        &[size="medium"] {
            width: 480px;
            height: 600px;
        }
        &[size="large"] {
            width: 600px;
            height: 720px;
        }
    }
    
    .book {
        text-align: center;
    }
    canvas {
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
    }
}